<style type="text/css"> 

 input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	background:#ff267e;   
	cursor: pointer;
	border-radius: 10px;
	
}

table {border:1px solid #000;}
td{border-bottom:1px solid #000;}

 input[type="submit"]:hover{
	background: #efed40;
	color: #262626;
</style>